#gridpane{
    -fx-background-image: url("images/blueabs.jpg");
    -fx-background-size: cover, auto;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.my-image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(241, 14, 6, 0.8), 40, 0, 0, 0);
}
.employee-img{
    -fx-effect: dropshadow(three-pass-box, rgba(19, 131, 236, 0.8), 40, 0, 0, 0);
}
